#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: #ddd;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: 0 auto;
  z-index: 100;
} 